
<div class="container-search">

    <div class="welcome-text">
        <h1>
            Find your next job in Skopje
        </h1>
        <h2>As a software engineer</h2>
    </div>

    <div class="form">
        <form #form="ngForm" (ngSubmit)="submitSearchQuery(form)" novalidate>
            <input mdInput type="text" id="location" name="location" placeholder="Location.." ngModel>
            <input type="text" id="jobType" name="jobType" placeholder="Job type.." ngModel>

            <button type="submit" md-raised-button color="primary">Search</button>
        </form>
    </div>


</div>


<!--
<md-input-container class="inputForm">
            <input mdInput  placeholder="Location">
        </md-input-container>

        <md-input-container class="inputForm">
            <input mdInput placeholder="Type of job">
        </md-input-container>
-->