.welcome-text {
    padding-top: 20%;
    padding-left: 15%;
    padding-right: 10%;
    color: white;
}

.welcome-text > h1 {
    font-weight: 500;
}

.welcome-text > h2 {
    font-weight: 300;
}

.form {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

input[type=text], select {
    width: 100%;
    padding: 22px 50px;
    margin: 8px 0;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
}


