<div class="main">

    <div class="navigation">
        <md-toolbar color="primary">
            <!-- Logo -->
            <span> <img src="../../../favicon.ico"> Hire me</span>

            <span class="space-between"></span>

            <span class="actionButtons">
                <button md-raised-button color="accent" [mdMenuTriggerFor]="menu">
                  Login
                </button>
                <md-menu #menu="mdMenu">
                  <button md-menu-item (click)="loginFb()">
                      <span class="fa fa-facebook">&nbsp;&nbsp;</span>
                    <span>Facebook</span>
                  </button>
                  <button md-menu-item >
                    <md-icon>voicemail</md-icon>
                    <span>Google</span>
                  </button>
                  <button md-menu-item (click)="onLinkedInLoad(); onLinkedInAuth()">
                      <span class="fa fa-linkedin">&nbsp;&nbsp;</span>
                    <span>LinkedIn</span>
                  </button>
                </md-menu>
            </span>
        </md-toolbar>
    </div>

    <!-- Central element where search form, map and cities are listed -->
    <div class="central">

        <!-- Search and Map -->
        <div class="top">
            <div class="search">
                <app-front-search></app-front-search>
            </div>

            <div class="map">
                <app-map></app-map>
            </div>
        </div>

        <!-- Cities -->
        <div class="bottom">

            <a class="city skopje">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
            <a class="city bitola">
                <h2>Bitola</h2>
                <div class="background"></div>
            </a>
            <a class="city veles">
                <h2>Veles</h2>
                <div class="background"></div>
            </a>
            <a class="city ohrid">
                <h2>Ohrid</h2>
                <div class="background"></div>
            </a>
            <a class="city stip">
                <h2>Stip</h2>
                <div class="background"></div>
            </a>
        </div>
    </div>

</div>



