
<div class="main">

    <div class="navigation">

        <md-toolbar color="primary">
            <!-- Logo -->
            <span> <img src="../../../favicon.ico"> </span>

            <span class="space-between"></span>

            <span class="actionButtons">
                <button md-raised-button color="accent">Login</button>
                <button md-raised-button color="accent">Register</button>
            </span>

        </md-toolbar>
    </div>


    <!-- Central element where search form, map and cities are listed -->
    <div class="central">

        <!-- Search and Map -->
        <div class="top">
            <div class="search">
                <app-front-search></app-front-search>
            </div>

            <div class="map">
                <app-map></app-map>
            </div>
        </div>

        <!-- Cities -->
        <div class="bottom">

            <a class="city">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
            <a class="city">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
            <a class="city">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
            <a class="city">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
            <a class="city">
                <h2>Skopje</h2>
                <div class="background"></div>
            </a>
        </div>
    </div>

</div>



