/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {height: 100%;}

#app {height: 100%;}

body {
    min-width: 360px;
    min-height: 480px;
}

